body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: #749F82;
    position: relative;
    margin: auto;
    padding-top: 3%;
    padding-bottom: 0;
}

.company-logo {
    position: relative;
    width: 90%;
    padding-top: 0;
    padding-bottom: 0;
}

.computer {
    position: relative;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

.profile {
    background-image: url("images/background image.png");
    margin: auto;
    padding-bottom: 2%;
    padding-top: 1%;
    text-align: left;
}

.profile-picture {
    float: right;
    width: 30%;
    margin-right: 3%;
}         

.profile-heading {
    padding-top: 3%;
    font-size: 4rem;
    font-weight: bold;
    color: #245953;
    margin-left: 3%;
}

.profile-text {
    color: #245953;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    margin-left: 3%;
    width: 90%;
}

.device-responsive {
    text-decoration: underline;
}

.skills {
    padding-top: 3%;
    padding-bottom: 2%;
    background-color: #749F82;
    color: white;
} 

.skills-heading {
    text-decoration: underline;
    color: white;
    font-size: 6rem;
    font-weight: 900;
    margin-top: 1%;
    padding-bottom: 3%;
    text-align: center;
}

.row {
    background-color: #749F82;
    margin: auto;
    padding-bottom: 4%;
}

.column-4 {
    float: left;
    margin: auto;
    width: 25%;
}

.photography {
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 1%;
    background-color: #749F82;
    color: white;
}

.photography-logo {
    float: left;
    margin-left: 2%;
    margin-right: 3%;
    width: 25%;
}

.photography-heading {
    font-size: 4rem;
    padding-bottom: 2%;
    text-align: left;
}

.photography-link {
    color: #27374D;
    font-size: 1.8rem;
    font-weight: bold;
}

.photography-text {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2;
    text-align: left;
    width: 90%;
}

.row {
    padding-bottom: 4%;
}

.card {
    float: left;
    box-shadow: 5px 5px 12px black;
    margin-left: 10%;
    padding-left: 0;
    padding-right: 0;
    width: 20%;
}

.card-image {
    background-color: #749F82;
}

.card-body {
    background-image: linear-gradient(#9DB2BF, #27374D);
}

.card-title {
    color: white;
    font-size: 2rem;
    text-align: center;
}

.projects {
    padding-bottom: 3%;
    padding-left: 8%;
    background-color: #749F82;
}

.projects-heading{
    color: white;
    font-size: 4rem;
    padding-top: 5%;
    padding-bottom: 2%;
    margin-left: 2%;
}

.projects-link {
    color: #27374D;
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 2%;
}

.contact-me {
    padding-top: 4%;
    padding-bottom: 4%;
    text-align: center;
    background-image: url("images/background image.png");
} 

.contact-me-heading {
    font-family: 'Montserrat', sans-serif;
    color: #245953;
    text-decoration: underline;
    padding-bottom: 2%;
    font-size: 6rem;
    font-weight: 900;
}
    
.contact-me-name {
    color: #245953;
    font-size: 2.5rem;
    font-weight: bold;
}

.contact-me-text {
    color: #245953;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
}

.btn {
    background: #245953;
    background-image: -webkit-linear-gradient(top, #245953, #D8D8D8);
    background-image: -moz-linear-gradient(top, #245953, #D8D8D8);
    background-image: -ms-linear-gradient(top, #245953, #D8D8D8);
    background-image: -o-linear-gradient(top, #245953, #D8D8D8);
    background-image: linear-gradient(to bottom, #245953, #D8D8D8);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    text-shadow: 1px 1px 3px #666666;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 0px 16px #245953;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    border: solid #D8D8D8 2px;
    text-decoration: none;
}
  
.btn:hover {
    background: #D8D8D8;
    background-image: -webkit-linear-gradient(top, #D8D8D8, #245953);
    background-image: -moz-linear-gradient(top, #D8D8D8, #245953);
    background-image: -ms-linear-gradient(top, #D8D8D8, #245953);
    background-image: -o-linear-gradient(top, #D8D8D8, #245953);
    background-image: linear-gradient(to bottom, #D8D8D8, #245953);
    text-decoration: none;
}

.bottom-container {
    background-image: linear-gradient(#749F82, white, #749F82);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding-bottom: 0.1%;
    padding-top: 1%;
    text-align: center;
}








@media (max-width: 1080px) {

    .company-logo {
        width: 90%;
    }

    .computer {
        width: 100%;
    }

    .profile {
        padding-left: 2%;
    }

    .profile-picture {
        float: right;
        width: 45%;
    }

    .profile-heading {
        margin-left: 0;
        font-size: 5rem;
    }

    .profile-text {
        font-size: 3rem;
        font-weight: bold;
        line-height: 1.5;
        margin-left: 0;
        padding-bottom: 1%;
        width: 99%;
    }

    .skills {
        padding-bottom: 4%;
    }

    .skills-heading {
        font-size: 6rem;
    }

    .photography {
        padding-bottom: 1%;
        padding-left: 1%;
    }

    .photography-logo {
        float: right;
        margin-right: 0;
        width: 40%;
    }

    .photography-heading {
        font-size: 5rem;
    }

    .photography-text {
        font-size: 3rem;
        line-height: 1.5;
    }

    .photography-link {
        font-size: 3rem;
    }

    .projects {
        text-align: center;
        margin: auto;
        padding: 0;
        padding-top: 0;
        padding-bottom: 5%;
    }

    .projects-heading {
        font-size: 6rem;
        margin: auto;
        text-decoration: underline;
    }

    .projects-link {
        font-size: 4rem;
        margin: auto;
    }

    .row {
        padding-bottom: 8%;
        padding-top: 0;
    }

    .card {
        margin-left: 1.7%;
        width: 31%;
    }

    .card-title {
        font-size: 3rem;
    }

    .contact-me-heading {
        font-size: 6rem;
    }

    .contact-me-name {
        font-size: 3.5rem;
    }

    .contact-me-text {
        font-size: 3.5rem;
    }

    .btn {
        width: 25%;
        font-size: 2rem;
    }

    .copyright {
        font-size: 2rem;
    }
}