body {
    color: white;
    font-family: 'Lato', sans-serif;
    margin: auto;
    text-shadow: 0px 0px 6px #C8C6C6;
}

#cover {
    opacity: 0;
    transition: opacity 5s ease-in-out;
}

#profile {
    opacity: 0;
    transition: opacity 5s ease-in-out;
}

.fade-in {
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.fixed-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.fixed-background-image {
    width: 100%;
}

.fixed-cover {
    left: 20%;
    position: fixed;
    top: 0;
    width: 100%; 
    z-index: 2;
}

.fixed-cover-image {
    box-shadow: 0px 0px 50px black;
    width: 60%;
}

.content {
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 20px black;
    margin: auto;
    margin-top: 15%;
    width: 60%;
    position: relative;
    z-index: 1;
}

.profile {
    margin: 3%;
    padding-top: 3%;
}

.profile-image {
    border-radius: 300px;
    box-shadow: 0px 0px 30px black;
    float: left;
    margin-right: 3%;
    margin-top: 1%;
    width: 20%;
}

.h1-profile {
    font-size: 2.5rem;
    margin-bottom: 1%;
    margin-top: 3%;
    text-align: left;
}

.text-profile {
    font-size: 1rem;
    line-height: 1.5;
}

span {
    font-weight: bold;
}

.fixed-logo-programming {
    position: fixed;
    left: 0.5%;
    opacity: 0.2;
    top: 3%;
    width: 25%;
}

.fixed-logo-programming-2 {
    position: fixed;
    right: 0.5%;
    opacity: 0.2;
    top: 15%;
    width: 30%;
}

.skills-container {
    margin: auto;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    padding-bottom: 5%;
    padding-top: 3%;
    position: relative;
}

h1 {
    font-size: 4rem;
    margin-bottom: 5%;
    text-align: center;
}

.logo-left {
    float: left;
    margin-right: 3%;
    width: 12%;
}

.logo-right {
    float: right;
    width: 12%;
}

.logo-right-enlarge {
    float: right;
    width: 18%;
}

.logo-left-enlarge {
    float: left;
    margin: 0 3%;
    width: 18%;
}

.logo-heading {
    font-size: 2.5rem;
}

.logo-text {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 5%;
}

.footer-container {
    margin-top: 3%;
    text-align: center;
}

.copyright-text {
    color: white;
    margin: 0;
    text-shadow: 0px 0px 6px white;
}

.copyright-h3 {
    color: white;
    font-size: 1.2rem;
    margin: 0;
    text-shadow: 0px 0px 6px white;
}

.logo-facebook {
    margin-right: 1%;
    margin-top: 1%;
    width: 6%;
}

.logo-instagram {
    margin-left: 1%;
    margin-top: 1.45%;
    width: 6%;
}

.btn {
    box-shadow: 0px 0px 8px #C8C6C6;
    font-size: 1.5rem;
    margin: auto;
    margin-left: 40%;
    width: 20%;
}









@media (max-width: 1080px) {

    .profile-image {
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 5%;
        width: 40%;
    }

    .h1-profile {
        font-size: 5rem;
        margin-left: 1%;
    }

    .h1-preview {
        font-size: 6rem;
    }

    .text-profile {
        font-size: 3rem;
        line-height: 1.5;
        margin-left: 1%;
        margin-right: 1%;
    }

    .skills-container {
        padding-bottom: 10%;
    }

    .logo-left {
        width: 30%;
    }

    .logo-left-enlarge {
        width: 40%;
    }

    .logo-right {
        width: 30%;
    }

    .logo-right-enlarge {
        width: 40%;
    }

    .btn {
        font-size: 3rem;
        margin-left: 30%;
        width: 40%;
    }

    .logo-facebook {
        width: 20%;
    }

    .logo-instagram {
        width: 20%;
        margin-top: 2.6%;
    }

    .logo-heading {
        font-size: 4rem;
        margin-left: 1%;
    }

    .logo-text {
        font-size: 3rem;
        line-height: 1.5;
        margin-bottom: 10%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .copyright-text {
        font-size: 2rem;
    }

    .copyright-h3 {
        font-size: 3rem;
    }

}