body {
    color: white;
    font-family: 'Lato', sans-serif;
    margin: auto;
    text-shadow: 0px 0px 6px #C8C6C6;
}

#cover {
    opacity: 0;
    transition: opacity 5s ease-in-out;
}

#profile {
    opacity: 0;
    transition: opacity 5s ease-in-out;
}

#downArrows {
    animation: fadeEffect 3s infinite;
    opacity: 0;
  }

@keyframes fadeEffect {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }

.fade-in {
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.fixed-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.fixed-background-image {
    width: 100%;
}

@media (min-width: 1081px) {
    .mobile-fixed-background-image {
    display: none;
    }
}

@media (min-width: 1081px) {
    .mobile-fixed-cover-image {
    display: none;
    }
}

.fixed-cover {
    left: 20%;
    position: fixed;
    top: 0;
    width: 100%; 
    z-index: 2;
}

.fixed-cover-image {
    box-shadow: 0px 0px 50px black;
    width: 60%;
}

.fixed-logo-programming {
    position: fixed;
    left: 0.5%;
    opacity: 0.1;
    top: 3%;
    width: 25%;
}

.fixed-logo-programming-2 {
    position: fixed;
    right: 0.5%;
    opacity: 0.1;
    top: 15%;
    width: 30%;
}

.content {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 20px black;
    margin: auto;
    margin-top: 15%;
    width: 60%;
    position: relative;
    z-index: 1;
}

.profile {
    margin: 3%;
    padding-top: 3%;
}

.profile-image {
    border-radius: 300px;
    box-shadow: 0px 0px 30px black;
    float: left;
    margin-right: 3%;
    margin-top: 1%;
    width: 25%;
}

.h1-profile {
    font-size: 2.5rem;
    margin-bottom: 1%;
    margin-top: 3%;
    text-align: left;
}

.text-profile {
    font-size: 1.5rem;
    line-height: 1.5;
}

span {
    color: lawngreen;
    font-weight: bold;
}

.down-arrows {
    margin-left: 85%;
    margin-top: 5%;
    width: 8%;
}

.skills-container {
    margin: auto;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 5%;
    padding-top: 3%;
    position: relative;
}

h1 {
    font-size: 6rem;
    margin-bottom: 10%;
    text-align: center;
}

.logo-left {
    float: left;
    margin-right: 3%;
    width: 20%;
}

.logo-right {
    float: right;
    width: 20%;
}

.logo-right-enlarge {
    float: right;
    width: 25%;
}

.logo-left-enlarge {
    float: left;
    margin: 0 3%;
    width: 25%;
}

.logo-heading {
    font-size: 2.5rem;
}

.logo-text {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 15%;
}

.photography-link {
    color: lawngreen;
}

.footer-container {
    margin-top: 3%;
    text-align: center;
}

.copyright-text {
    color: white;
    margin: 0;
    text-shadow: 0px 0px 6px white;
}

.copyright-h3 {
    color: white;
    font-size: 1.2rem;
    margin: 0;
    text-shadow: 0px 0px 6px white;
}

.logo-facebook {
    margin-right: 1%;
    margin-top: 1%;
    width: 6%;
}

.logo-instagram {
    margin-left: 1%;
    margin-top: 1.45%;
    width: 6%;
}

.btn {
    box-shadow: 0px 0px 8px #C8C6C6;
    font-size: 1.5rem;
    margin: auto;
    margin-left: 40%;
    width: 20%;
}









@media (max-width: 1080px) {

    .fixed-logo-programming {
        display: none;
    }
    
    .fixed-logo-programming-2 {
        display: none;
    }

    .fixed-background-image {
        display: none;
    }

    .fixed-cover-image {
        display: none;
    }

    .mobile-fixed-background-image {
        width: 100%;
    }

    .fixed-cover {
        left: 0;
    }

    .mobile-fixed-cover-image {
        box-shadow: 0px 0px 80px black;
        width: 100%;
    }

    .content {
        background-color: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0px);
        box-shadow: 0px 0px 0px black;
        margin-top: 50%;
        width: 100%;
    }

    .profile {
        margin-left: 1%;
        margin-right: 1%;
        padding-top: 1%;
    }

    .profile-image {
        float: right;
        width: 40%;
    }
    
    .h1-profile {
        font-size: 5rem;
    }
    
    .text-profile {
        font-size: 3.5rem;
    }

    .down-arrows {
        margin-left: 75%;
        margin-top: 0;
        rotate: 180deg;
        width: 15%;
    }

    .skills-container {
        margin-left: 1%;
        margin-right: 1%;
    }
    
    h1 {
        font-size: 7rem;
        font-weight: bold;
        margin-bottom: 10%;
    }
    
    .logo-left {
        width: 25%;
    }
    
    .logo-right {
        width: 25%;
    }
    
    .logo-right-enlarge {
        width: 30%;
    }
    
    .logo-left-enlarge {
        width: 30%;
    }
    
    .logo-heading {
        font-size: 4.5rem;
        font-weight: bold;
        margin-bottom: 3%;
    }
    
    .logo-text {
        font-size: 3.5rem;
    }

    .copyright-text {
        font-size: 2rem;
    }
    
    .copyright-h3 {
        font-size: 2rem;
    }
    
    .logo-facebook {
        margin-top: 0%;
        width: 20%;
    }
    
    .logo-instagram {
        width: 20%;
    }

    .btn {
        font-size: 3.5rem;
        margin-left: 30%;
        margin-top: 5%;
        width: 40%;
    }

}